@model kuasociados.Contract.Models.Lawyer

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mycases">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-left">Tus casos</h3>
                </div>
            </div>     
            <div class="row">
                <div class="col-md-12">
                    @foreach (var caso in Model.caseList) {
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="">Abogado a cargo: <span>@caso.Lawyer.FirstName @caso.Lawyer.LastName</span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="">Fecha de inicio: <span> @caso.InitiationDate </span></p>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Historial</h4>
                                    @foreach (var estado in caso.StateHistory) {
                                        <div class="panel">
                                            <p>@estado.Description</p>
                                            <p>@estado.InitiationDate</p>
                                            <p>@estado.Comment</p>           
                                        </div>
                                    }
                                </div>
                            </div>    
                        </div>
                    }
                </div>
            </div>           
        </div>
    </div>
</section>

