@model kuasociados.Models.News

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="create pbl">
    <div class="container">
        <div class="row mvs">
            <div class="col-md-offset-4 col-md-6">
                <h1>Nueva noticia</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
    
                    <div class="form-red">
       
     
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.HiddenFor(m => m.idNews)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label" })
                       
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.subtitle, htmlAttributes: new { @class = "control-label" })
                           
                                @Html.EditorFor(model => model.subtitle, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.subtitle, "", new { @class = "text-danger" })
                           
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label" })

                            @Html.TextAreaFor(model => model.body, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.subtitle, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label " })
                  
                                @Html.EditorFor(model => model.img, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                          
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.publishDate, htmlAttributes: new { @class = "control-label" })
                      
                                @Html.EditorFor(model => model.publishDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.publishDate, "", new { @class = "text-danger" })
                    
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label" })
                       
                                @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
                         
                        </div>

                        <div class="form-group mtm">
                            
                                <a href="@(Url.Action("Index" , "Novedades"))">
                                    <input type="button" value="Cancelar" class=" mrs button button--wapasha button--text-thick button--text-upper button--size-s">
                                </a>
                                <button class="button button--wapasha button--text-thick button--text-upper button--size-s" type="submit" value="Create">Crear</button>
                            
                        
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
    