@model IEnumerable<kuasociados.Contract.Models.NewsModel>

@{
    ViewBag.Title = "Index";
}

@{
    var isSecretary = Roles.IsUserInRole(WebSecurity.CurrentUserName, "Secretary");
 }
<section class="novedades">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Últimas novedades</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @foreach (var news in Model)
                {
                    <div class="grid cs-style-6">
                    <figure>
                        <img src="@news.Img" alt="imagen-noticia" class="img-responsive" />
                        <figcaption>
                            <p>
                                @news.Title<br>
                                <span class="subtitle">@news.Subtitle</span><br>
                                <span class="author">@news.Author</span>
                                <br><span class="date">@news.PublishDate</span>
                            </p>

                            <a href="@Url.Action("Details","Novedades", new { id = @news.Id})">Ver noticia</a>
                        </figcaption>
                    </figure>
                     @*MODAL*@
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Esta seguro de que desea eliminar esta noticia?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                    <a class="btn btn-primary" href="@Url.Action("DeleteConfirmed", "Novedades", new { id = @news.Id })">Sí</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (isSecretary)
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right mtxs">
                                    @*<a class="btn btn-primary" href="@Url.Action("Edit","Novedades", new { id = @news.Id})"><i class="fa fa-pencil" aria-hidden="true"></i></a>*@
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                    }
                    </div>
            }
            </div>
            <div class="col-md-4">
                <aside>
                    @if(isSecretary)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel admin">
                                    <h3 class="mbxs">Admin</h3>
                                    <a class="btn btn-success" href="@Url.Action("CreateNovedad","Novedades")"><i class="fa fa-plus" aria-hidden="true"></i></a><span class="mlxs">Agregar noticia</span> 
                                </div>
                            </div>
                        </div>
                    }
                    else{

                    }
                </aside>
            </div>
        </div>
    </div>
  
    
</section>
