@model kuasociados.Contract.Models.Lawyer


@{
    ViewBag.Title = "CreateLawyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="create pbl">
    <div class="container">
        <div class="row mvs">
            <div class="col-md-offset-4 col-md-6">
                <h1>Nuevo abogado..</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                    </div>

                    <div class="form-red">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Dni, htmlAttributes: new { @class = "control-label " })

                                    @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BornDate, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.BornDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BornDate, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label mbxs" })
                                    <span class="control-label">M</span>
                                    @Html.RadioButtonFor(model => model.Gender, "M", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="control-label">F</span>
                                    @Html.RadioButtonFor(model => model.Gender, "F", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Province, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Province, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Codep, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Codep, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Codep, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProfileImg, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.ProfileImg, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProfileImg, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmailConfirm, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.EmailConfirm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailConfirm, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.EmailConfirm, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Specialty, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Specialty, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Specialty, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>

                        <div class="row mtm">
                            <div class="col-md-6 pull-right">
                                <div class="form-group">

                                    <a href="@(Url.Action("Index" , "Novedades"))">
                                        <input type="button" value="Cancelar" class=" mrs button button--wapasha button--text-thick button--text-upper button--size-s">
                                    </a>
                                    <button class="button button--wapasha button--text-thick button--text-upper button--size-s" type="submit" value="Create">Crear</button>
                                </div>
                            </div>
                        </div>        
                    </div>
                 }
            </div>
        </div>
    </div>
</section>