@model kuasociados.Models.Lawyer

@{
    ViewBag.Title = "CreateLawyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="create pbl">
    <div class="container">
        <div class="row mvs">
            <div class="col-md-offset-4 col-md-6">
                <h1>Nuevo abogado..</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.HiddenFor(m => m.idPeople)
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(m => m.idLawyer)
                    </div>
                    <div class="form-red">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.dni, htmlAttributes: new { @class = "control-label " })

                                    @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.bornDate, htmlAttributes: new { @class = "control-label " })
                                    @Html.EditorFor(model => model.bornDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.bornDate, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "control-label mbxs" })
                                    <span class="control-label">M</span>
                                    @Html.RadioButtonFor(model => model.gender, "M", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="control-label">F</span>
                                    @Html.RadioButtonFor(model => model.gender, "F", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.province, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.province, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.province, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.codep, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.codep, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.codep, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.profileImg, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.profileImg, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.profileImg, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.emailConfirm, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.emailConfirm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.emailConfirm, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.specialty, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.specialty, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.specialty, "", new { @class = "text-danger validation" })

                                </div>
                            </div>
                        </div>

                        <div class="row mtm">
                            <div class="col-md-6 pull-right">
                                <div class="form-group">

                                    <a href="@(Url.Action("Index" , "Novedades"))">
                                        <input type="button" value="Cancelar" class=" mrs button button--wapasha button--text-thick button--text-upper button--size-s">
                                    </a>
                                    <button class="button button--wapasha button--text-thick button--text-upper button--size-s" type="submit" value="Create">Crear</button>
                                </div>
                            </div>
                        </div>        
                    </div>
                 }
            </div>
        </div>
    </div>
</section>