@model kuasociados.Contract.Models.NuestroStaffModel


@{
    var isAdmin = Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin");
}

@{
    ViewBag.Title = "Index";
}

<section class="nuestrostaff pbl">
    <section class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Nuestro Staff</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @if (isAdmin)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel admin">
                                <h3 class="mbxs">Admin</h3>
                                <a class="btn btn-success" href="@Url.Action("CreateEmployee", "NuestroStaff")"><i class="fa fa-plus" aria-hidden="true"></i></a><span class="mlxs">Agregar empleado</span>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                }
                <div class="row margin-bottom-2">
                    <div class="col-md-12 text-center">
                        <h3>Empleados</h3>
                    </div>
                </div>
                
                <div class="row">
                    @foreach (var employee in Model.employees)
                    {
                        <div class="col-md-6 margin-bottom">
                            <a href="@Url.Action("EmployeeProfile","Profile", new { idemployee = employee.Id })">
                                <div class="thumbnail text-center">
                                    <img src="@employee.ProfileImg" alt="Abogado" class="img-responsive" />
                                    <p class="caption ">@employee.FirstName @employee.LastName</p>
                                    <p class="caption ">@employee.Job</p>
                                </div>
                            </a>
                        </div>     
                    }
                  
                </div>
            </div>
            <div class="col-md-6">
                @if (isAdmin)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel admin">
                                <h3 class="mbxs">Admin</h3>
                                <a class="btn btn-success" href="@Url.Action("CreateLawyer", "NuestroStaff")"><i class="fa fa-plus" aria-hidden="true"></i></a><span class="mlxs">Agregar abogado</span>
                                <a class="btn btn-success" href="@Url.Action("CreateSpecialty", "NuestroStaff")"><i class="fa fa-plus" aria-hidden="true"></i></a><span class="mlxs">Agregar especialidad</span>
                            </div>
                        </div>
                    </div>
                }
                else
                {

                }
                <div class="row mbl">
                    <div class="col-md-12 text-center">
                        <h3>Abogados</h3>
                    </div>
                </div>
              
                <div class="row mvs">
                    <div class="col-md-12">
                        <div class="button-group filter-button-group">
                            <button data-filter="*" class="btn">Mostrar Todos</button>
                            @foreach (var specialty in ViewBag.SpecialtyList)
                            {
                                string specialtyclass = "." + @specialty.Id.ToString();
                                <button data-filter="@specialtyclass" class="btn">@specialty.Description</button>
                            }
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="grid-isotope">
                        @foreach (var lawyer in Model.lawyers)
                        {
                            foreach (var specialty in ViewBag.SpecialtyList)
                            {
                                if (lawyer.IdSpecialty == specialty.Id)
                                {
                                    <div class="grid-item col-md-6 @specialty.Id.ToString()">
                                        <a href="@Url.Action("LawyerProfile","Profile", new { idlawyer = lawyer.Id })">
                                            <div class="thumbnail text-center">
                                                <img src="@lawyer.ProfileImg" alt="Abogado" class="img-responsive" />
                                                <p class="caption ">@lawyer.FirstName @lawyer.LastName</p>
                                            </div>
                                        </a>
                                    </div>
                               
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

