<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
    @Styles.Render("~/Content/jquery.fullPage.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animate.css")
    @Styles.Render("~/Content/Scss/main.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("K. U. y Asociados", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Novedades", "Index", "Novedades")</li>
                    <li>@Html.ActionLink("Contacto", "Index", "Contacto")</li>
                    <li>@Html.ActionLink("Nuestro Staff", "Index", "NuestroStaff")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
       
        <footer>
            <div class="container">
                <div class="row mtxl">
                    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2 col-xs-12 plxl prl col-border">
                        <a href= "@(Url.Action("Index" , "Home"))">
                            <img src="~/Content/img/logo.png" alt="KUAsociados-logo" class="img-responsive logo_img">
                            <p class="text-center logo-brand">
                                K. U. y Asociados
                            </p>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 ptl plxl col-border">
                        <ul>
                            <li class="li_title">Clientes</li>
                            <li class="li_item"><a href="{% url 'informacion:crear_lista' %}">Mis Casos</a></li>
                            <li class="li_item"><a href="@(Url.Action("Index" , "Novedades "))">Novedades</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 ptl plxl col-border">
                        <ul>
                            <li class="li_title">Ayuda</li>
                            <li class="li_item"><a href="">FAQ</a></li>
                            <li class="li_item"><a href="">Cómo funciona</a></li>
                            <li class="li_item"><a href="">¿Quiénes somos?</a></li>
                            <li class="li_item"><a href="@(Url.Action("Index" , "Contacto "))">Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12 ptl plxl">
                        <ul>
                            <li class="li_title">K.U y Asociados</li>
                            <li class="li_item"><a href="">Sucursales</a></li>
                            <li class="li_item"><a href="">Testimonios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.fullPage.min.js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="../../Scripts/classie.js"></script>
    <script type="text/javascript" src="../../Scripts/main.js"></script>
</body>
</html>
