@using Microsoft.AspNet.Identity


@if (WebSecurity.IsAuthenticated)
{
    using (Html.BeginForm("Salir", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs mrxs">
            <p>Bienvenido <span class="user-name">@WebSecurity.CurrentUserName</span></p>
        </li>
        <li>@Html.ActionLink("Salir","LogOff","Account")</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Regístrate", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
